#header{
height: 60px;
width:100%;
display:flex;
overflow:hidden
}

.centerbox{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

a{
    color:white
}

#headerleft{
flex:1;
font-size:1.5rem;
justify-content: left;
padding-left:20px;
color:var(--yellow);
}

#headercenter{
flex:0
}

#headerright{
flex:1;
max-width:500px;
}

#headernav{
    width:100%;
    display:flex;
    justify-content: right;
    align-items: center;
    padding:20px;
}
.navobject{
    color:white;
    position:relative;
    flex:1;
    display:flex;
    justify-content: right;
    align-items: center;
}

.punderline{
    position:relative;
    top:-31px;
    border-radius: 0px;
    left:0px;
    height: 2px;
    background-color: var(--yellow);
}

.wip{
    width:300px;
    aspect-ratio: 1;
    bottom: -80px;
    left: -30px;
    font-size:1.2rem;
    display:flex;
}

@media (max-width:720px){
    .wip{
        display:none;
    }
}