.svglayers{
    aspect-ratio: 960/175;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url("../../public/Footer.svg");
}

.container{
    height:12rem;
    background-color: var(--yellow);
    display:flex;
    justify-content: center;
    align-items: center;
}

.width{
    margin:0;
    padding: 0;
    max-width:1024px;
    height:100%;
    display:flex;
}

#footerleft{
    flex:1;
}

#footercenter{
    flex:1;
    color:var(--darkblue)
}

#footerright{
    flex:1;
}